.homenav {
    background-color: pink;
}

.homenav .navbar-brand {
    color: rgb(89, 14, 112);
}

.navList a {
    color: rgb(89, 14, 112);
    font-size: 20px;
}

.navList a:hover {
    font-size: x-large;
}

.navList a:active {
    text-decoration: underline;
}

.navmenu a {
    padding-left: 50px;
    font-size: 30px;
    color: rgb(89, 14, 112);
}