<h1 class="text-center text-info">Student List</h1>
<div class="m-4">

    <table class="table table-striped table-bordered" cellspacing="0" width="80%">
        <thead>
            <tr>
                <th>Index.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roll No</th>
                <th>DOB</th>
                <th>Age</th>
                <th>isMale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students; let i=index">
                <td>{{i+1}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.rollNo}}</td>
                <td>{{student.date}}</td>
                <td>{{student.age}}</td>
                <td>{{student.isMale}}</td>

                <td>
                    <button class="btn btn-success" (click)="update(student.id)">Update</button>&nbsp;
                    <button class="btn btn-danger" (click)="delete(student.id, student.name)">Delete</button>
                </td>
            </tr>
            <div [hidden]="students">
                <mat-spinner></mat-spinner>
                <h3>Loading...</h3>
            </div>
        </tbody>
    </table>